output/003_000.avi
output/obama2.avi
output/peele.avi
videos/003_000.mp4
videos/obama2.mp4
videos/peele.mp4
pretrained_model/.DS_Store
videos/.DS_Store
network/__pycache__/models.cpython-311.pyc
network/__pycache__/xception.cpython-311.pyc

pretrained_model/deepfake_c0_xception.pkl
network/__pycache__/__init__.cpython-311.pyc
dataset/__pycache__/__init__.cpython-311.pyc
dataset/__pycache__/transform.cpython-311.pyc
data_list/Deepfakes_c0_test.txt
.DS_Store
